<p class="text-center text-muted" *ngIf="!produtos"> Sem produtos para mostrar</p>

    <div class="linha">
        <div id="cartoes">
            <div class="cartao" *ngFor="let produto of produtos">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Valor: {{produto.valor | currency:'BRL'}}</li>
                  <li class="list-group-item">Solicitante: {{produto.solicitante }} </li>
                  <li class="list-group-item">Descrição: {{produto.desc }}</li>
                  <li class="list-group-item">Obs: {{produto.obs }}</li>
                  <li class="list-group-item">Aprovado: {{produto.aprovado }}</li>
                  <li class="list-group-item">Ações: <a  class='botao ' [routerLink]="['/produtos', produto.id]" >
                    Editar </a> 
                   </li>
                </ul>
              </div>

            <div></div>

    </div>
</div>
